<section id="viewCatalog" class="background-img">
  <div class="added-electronics">
    {{#each electronics}}
    {{>item}}
{{else}}
  <div class="guest">
                There are no electronics found...
            </div> 
{{/each}}
 
</section>